@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; 
}

main {
  flex: 1; 
}

.footer {
  width: 100%; 
  background: #279419;
  border-radius: 6px 6px 0 0; 
  padding: 20px 0; 
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-left: 65px;
  gap: 1.5rem;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 10px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 8px;
  color: #bfbfbf;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 10px 0;
  color: #bfbfbf;
  max-width: 300px;
}

/* Responsividade */
@media (max-width: 768px) {
  .footer {
    border-radius: 0; 
    padding: 15px 10px;
  }

  .footer .footer-row {
    padding: 10px;
    gap: 1rem;
  }
}
