.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
 
  .search-input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px; 
    width: 300px;
    margin-left: 80px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #28a745; 
  }
  
  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28a745; 
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 0 25px 25px 0; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%; 
  }
  
  .search-button:hover {
    background-color: #218838; 
  }
  
  .search-icon {
    font-size: 20px;
  }